
body{
  background-color: #333;
}

#nav{
  font:1em helvetica,arial,sans-serif;
}

#nav a{
  display: block;
  color: #555;
  background-color: #eee;
  padding: 1em 1em;
  border-width: 3px;
  border-color: transparent;
}

#nav a:hover{
  color: #fff;
  background-color: #199;
}

#nav a:active{
  background-color: #fff;
  color: #ccc;
}

#nav *{margin: 0;padding: 0;}

#nav ul{float: left;}

#nav li{
  float: left;
  position: relative;
  list-style: none;
}

#nav li a{
  display: block;
  border-right: solid;
  background-clip: padding-box;
  text-decoration: none;
  border-radius: 5px;
}

#nav li:last-child a {border-right: none;}

#nav li ul{display: none;}

#nav li ul{
  width: 9em;
}

#nav li li a{
  border-right: none;
  border-top: solid;
}

#nav li ul{
  position: absolute;
  left: 0px;
  top:100%;
}

#nav li li{
  float: none;
}

#nav li li ul{
  position: absolute;
  left: 100%;
  top: 0;
}

#nav li:hover > ul{
  display: block;
}



















