  *{margin:0px;padding:0px;}
  body{font:"微软雅黑";font-size:14px;}
  a{text-decoration:none;}
  ul,li{list-style:none;}
  #box{height:auto;width:550px;border:1px solid #aaa;margin:0 auto;overflow:hidden;}
  .top{height:40px;}
  .top a{height:16px; width:16px;display:block;float:right;margin:5px;}
  .btn-list-off{background:#fff url(images/btns.jpg) no-repeat /*@如何定位背景图片@-38px 0px*/-38px 0px;}
  .btn-car-on{background:#fff url(images/btns.jpg) no-repeat -21px -34px;}
  .btn-list-on{background:#fff url(images/btns.jpg) no-repeat -21px 0px;}
  .btn-car-off{background:#fff url(images/btns.jpg) no-repeat -38px -32px;}
  
  #box ul li{height:auto;width:164px;border:1px solid #aaa;/*@问题?如何让每个@float:left*/float:left;margin:7px;} 
  .a-img{height:164px;width:164px;display:block;overflow:hidden;/*问题overflow：hide，如何隐藏超出部分的图片？overflow:hidden;还有其他什么左右？*/}
  p a,p span{
    display:block;
    line-height:23px;
    padding-left:10px;
  }
  .bottom{height:40px;line-height:40px;text-align:center;background-color:#ccc;}
  .small{height:50px;width:50px;/*问题@float:left;如何让文字从图片下方至图片的右侧呢@*/float:left;margin:5px;}