body,ul,a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font: 20px/1.428 sans-serif;
  color: #333;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.menu {
  border-radius: 5px;
  margin: 10px;
}

.menu > li {
	float: left;
	position: relative;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.menu a {
  height: 20px;
  width: auto;
  display: block;
  padding: 7px 12px;
  background: #458fd2;
  color: #fff;
}

.menu > li:first-child > a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu > li:last-child > a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 20;
  z-index: 2;
}

.nenu{
  padding: 20px;
  width: 30px;
  margin: 20px auto;
}

.menu > li:hover a,
.menu li.active a {
  background: #18334c;
  height: 23px;
  margin-top: -2px;
  line-height: 23px;
}

.menu li:hover .sub-menu {
  display: block;
}