@-webkit-keyframes changecolor{
  0%{background: red;}
  20%{background: blue;}
  50%{background: orange;}
  80%{background: green;}
  100%{background: red;}
}

div{
  width: 300px;
  height: 200px;
  background: red;
  color: #fff;
  margin: 20px auto;
}

div:hover{
  -webkit-animation:changecolor 5s ease-out .2s;
  animation:changecolor 5s ease-out .2s;
}