*{margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
#notice{
  border: 1px solid #eee;
  width: 298px;
  height: 98px;
  margin: 10px;
  overflow: hidden; /*当子元素有超过它的部分，隐藏掉。清除浮动。*/
}

#notice-tit{
  height: 27px;
  position: relative;
  background: #eee;
}

.notice-tit ul{
  position: absolute;
  width: 301px;
  left: -1px;
}

.notice-tit li{
  float: left;
  width: 58px;
  height: 26px;
  padding: 0 1px;
  line-height: 26px;
  text-align: center;
  overflow: hidden;
  background: #FFF;
  border-bottom: 1px solid #eee;
}

.notice-tit li.select{
  background: #FFF;
  border-bottom-color: #FFF;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 0px;
  font-weight: bolder;
  display: block;
}

.notice-tit li a:link, .notice-tit li a:visited{
  text-decoration: none;
  color: #000;
}

.notice-tit li a:hover{
  color: #F90;
}

.notice-con .mod{margin: 10px 10px 19px;}

.notice-con .mod ul li{
  float: left;
  width: 134px;
  height: 25px;
  overflow: hidden;
}




