.wrapper {
  width: 400px;
  height: 100px;
  border: 2px dotted red;
  margin: 20px auto; 
  text-align: center;
  line-height: 100px;
}
.wrapper div {
  background: orange;
  color: #fff;

  -webkit-transform-origin: top left;
  -moz-transform-orign: top left;
  transform-origin: top left;
}